<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Restaurant</title>
  </head>
  <div th:replace="common/header :: header"></div>
  <style>
    .margin-container {
      margin-top: 50px;
    }

    .btn-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }
  </style>
  <body>
    <div th:replace="restaurants/header :: navbar"></div>
    <div class="container margin-container">
      <div class="row col-md-8 offset-md-2">
        <form
          role="form"
          method="post"
          th:action="@{/admin/restaurants/{restaurantId}(restaurantId=${restaurant.id})}"
          th:object="${restaurant}"
        >
          <input type="hidden" th:field="*{id}" />
          <div class="mb-3">
            <label class="form-label"> Restaurant Name </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter Restaurant Name"
              name="name"
              th:field="*{name}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Restaurant Address </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter Address"
              name="address"
              th:field="*{address}"
            />
          </div>

          <div class="mb-3">
            <label class="form-label"> City </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter City"
              name="city"
              th:field="*{city}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Province </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter Province"
              name="province"
              th:field="*{province}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Country </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter Country"
              name="country"
              th:field="*{country}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Postal Code </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter Postal Code"
              name="postalCode"
              th:field="*{postalCode}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Phone Number </label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              placeholder="Enter Phone Number"
              name="phoneNumber"
              th:field="*{phoneNumber}"
            />
          </div>

          <div class="btn-flex">
            <button
              type="submit"
              class="btn btn-outline-primary btn-lg btn-block"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
