<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery Person</title>

    <style>
        header{
            background-color: aqua;
            font-size: 40px;
            color: black;
        }
    </style>

</head>

<body>
<div th:replace></div>
<header>
    <h2>Deliver</h2>;

</header>



</body>
</html>


